<!DOCTYPE html>
<html lang="en">

<head>

        <title>Honest Skin</title>

        

        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-9NlqO4dP5KfioUGS568UFwM3lbWf3Uj3Qb7FBHuIuhLoDp3ZgAqPE1/MYLEBPZYM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
       <style>
               .nav-link{
                       color: white;
               }
               .nav-link:hover, .nav-link:active{
                       color: lightgray;
               }
               .navbar{
                       margin-bottom: 5%;
                       text-align: center;
               }

               #largeSpace{
                flex-grow: 1;
               }
       </style>

</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary whiteFont">
                <div class="navbar-brand">
                        <a class="nav-link" href="/">Home</a>
                </div>

                <div class="navbar-brand">
                        <a class="nav-link" href="#">Member Login</a>
                </div>

                <div class="navbar-brand">
                        <a class="nav-link" href="/day_routine">Day Routine</a>

                </div>
                <div class="navbar-brand">
                        <a class="nav-link" href="night_routine">Nigth Routine</a>
                </div>

                <div id="largeSpace"></div>

                <div id="webName">HONEST SKIN</div>
        </nav>