<!DOCTYPE html>
<html lang="en">

<head>

        <title>Honest Skin</title>
        <link rel="stylesheet" href="bootstrap.css">
</head>

<body>
        <nav class="nav">
                <div class="nav-tabs">Home</div>
                <div class="nav-tabs">Member Login</div>
                <div class="nav-tabs">Summer Routine</div>
                <div class="nav-tabs">Summer Routine</div>
        </nav>