<%- include('./partials/header.ejs'); %>

<div class="container">
<div>
        <h1>Honest Skin</h1>
</div>

<div>
        <p>
                        Honest Skin is a community of skin care enthusiasts dedicated to treat oily complexion and cultivate healthy and radiant skin. Browse other enthusiasts’ routines and share yours.  
        </p>

        <p>
                        Share your skin routine and help other enthusiasts find products to love. Become a member to start sharing.
        </p>
         

</div>
<form action="/newMember" method="GET"></form>
<button type="submit" class="btn">        
        <a href="/newMember">Become a Member</a>
</button>
</form>



<%- include('./partials/footer.ejs'); %>
