<!DOCTYPE html>
<html lang="en">

<head>
        <title>New Product Registration</title>
</head>

<body>
        <h1>New Product Registration</h1>

        <form action="" menthod="">
                Product Name <input type="text" name="ProductName"><br>
                Brand <input type="text" name="Brand"><br>
                Link to Product Website <input type="text" name="productWebsite"><br>
                Where did you buy the product? <input type="text" name="store">
                Price <select>
                        <option value="1-10">$1-10</option>
                        <option value="11-20">$11-20</option>
                        <option value="21-30">$21-30</option>
                        <option value="31-40">$31-50</option>
                        <option value="51-70">$51-70</option>
                        <option value="71-90">$71-90</option>
                        <option value="90-plus">$90-$$$</option>
                </select>

                Overall Satisfaction <select>
                        <option value="loveIt">Love it!</option>
                        <option value="itsOk">It's okay</option>
                        <option value="bad">Bad</option>
                </select>

                How long have you been using this product?
                <select>
                        <option value="lessMonth">Less than a month</option>
                        <option value="lessYear">Less a year</option>
                        <option value="moreYear">More than one year</option>
                </select>
                Comments <input type="text" name="comments">

                <input type="submit" value="submit">


        </form>


</body>

</html>