<%- include('./partials/header.ejs'); %> -->

<div class="container">
<div>
                <h1>Night Routines</h1>
</div>

<p>
        See what other users's routine to maintain a healthy complexion. Share with our community what works for you.
</p>

</div>

<%- include('./partials/footer.ejs'); %>
