<%- include('./partials/header.ejs'); %>

<div class="container">
        <div>
                <h4>
                        Thank you for registering and sharing your routines!

                </h4>
        </div>

        <div>
                <h6 class=>Browse other members’ routines</h6>
                <div>
                                <div>
                                        <button class="btn">
                                                        <a href="/day_routine">Day Routine</a>
                                        </button>
                                </div>
                                <div>
                                        <button class="btn">
                                                        <a href="/night_routine">Night Routine</a>
                                        </button>
                                                
                                </div>
                </div>

        </div>

</div>
        <%- include('./partials/footer.ejs'); %>
